language: php

php:
  - 5.5
  - 7.0
  - 7.1

env:
  - ELASTICSEARCH="1.7.6"

before_install:
  - curl -O https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-${ELASTICSEARCH}.deb
  - sudo dpkg -i elasticsearch-${ELASTICSEARCH}.deb

install:
  - "echo 'script.disable_dynamic: false' | sudo tee -a /etc/elasticsearch/elasticsearch.yml"
  - "echo 'index.warmer.enabled: true' | sudo tee -a /etc/elasticsearch/elasticsearch.yml"
  - sudo service elasticsearch restart

before_script:
  - composer install --no-interaction

script:
  - vendor/bin/phpunit
